<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Host {{ object.FullName }}'s page from Experience and Gold, a Dungeons and Dragons podcast">
    <meta name="author" content="Keith Diedrick">

    <title>Experience and Gold: {{ object.FullName }}</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/cast.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/xpagbannernobg.png' %}" alt="Experience and Gold" style="max-height:50px;margin-top:-14px;"</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'episodes' %}">Episodes</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" role="main">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-8">
            <h1>{{ object.FullName }}</h1>
          </div>
          <div class="col-md-4">
            <img src="{{ object.Photo.url }}" width="200" height="200" alt="{{ member.FullName }}">
          </div>
        </div>
        <br></br>
        <div class="row">
            <img src="{{ object.Silhouette.url }}" width="300" height="800" align="left"/>
            <span> {{ object.Bio|linebreaks }} </span>
        </div>
      </div>
      <div class="jumbotron">
        <div class="row">
          <h1>{{ object.CharacterName }}</h1>
        </div>
        <div class="row">
          <!--img src=(character art url) width=?? height=?? align="right" /-->
          <span>{{ object.CharacterBio|linebreaks }}</span>
        </div>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script>window.jQuery || document.write('<script src="{% static 'js/jquery.min.js' %}"><\/script>')</script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</html>
