<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1000">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="A 5e D&D Podcast">
    <meta name="author" content="Keith Diedrick">


    <title>Experience and Gold</title>

    {% load static %}

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/homesplash.css' %}" />

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <img src="{% static 'img/xpaglogonobg.png' %}" alt="Experience and Gold" />
            <p style="font-size:15px" class="lead">A Fifth-Edition Dungeons and Dragons Podcast.</p>
            <p class="lead">
              <a href="{% url 'episodes' %}" class="btn btn-lg btn-default">Episodes</a>
              <a href="{% url 'about' %}" class="btn btn-lg btn-default">About</a>
              <a href="{% url 'contact' %}" class="btn btn-lg btn-default">Contact</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Copyright Hard To Explain Entertainment &copy; 2017</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'js/jquery.min.js' %}"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
